{{set . "title" "Sulubucks"}}

{{template "header.html" .}}

<div class="col-xs-4 col-xs-offset-4">
    <h1>Orders</h1>
    <div id="orders">
        <script type="text/html" id="message_tmpl">
            <a class="btn btn-default btn-block" href="remove/<%= event.requests_id %>" id="<%= event.requests_id %>">
                <strong><%= event.user.name %>:</strong>
                <%= event.request_type %>
                    <span class="label label-danger"><%= event.request_count %> adet</span>
            </a>
        </script>
        {{if .requests}}
        {{range .requests}}
        <a class="btn btn-default btn-block" href="remove/{{.RequestsId}}" id="{{.RequestsId}}">
            <strong>{{.User.Name}}:</strong> {{.RequestType}}
            <span class="label label-danger">{{.RequestCount}} adet</span>
        </a>
        {{end}}
        {{end}}
    </div>
</div>

{{template "footer.html" .}}
