{{set . "title" "Emre Orders"}}
{{template "header.html" .}}


<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <h1>Orders</h1>
            <div id="orders">
                <script type="text/html" id="message_tmpl">
                  <a class="btn btn-default btn-block" href="remove/<%= event.RequestsId %>" id="<%= event.RequestsId %>">
                       <strong><%= event.User.Name %>:</strong>
                       <%= event.RequestType %>
                       <span class="label label-danger"><%= event.RequestCount %> adet</span>
                   </a>
                </script>
                {{if .requests}}
                    {{range .requests}}
                    <a class="btn btn-default btn-block" href="remove/{{.RequestsId}}" id="{{.RequestsId}}">
                         <strong>{{.User.Name}}:</strong>
                         {{.RequestType}}
                         <span class="label label-danger">{{.RequestCount}} adet</span>
                     </a>
                    {{end}}
                {{end}}
            </div>
        </div>
    </div>
</div>

{{template "footer.html" .}}
